{% extends "layout.html" %}
{% block content %}
	<div >
		<form class="input-group mb-3" method="post" action="">
			<input type="text" name="folderpath" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
			<div class="input-group-append">
			<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
			</div>
		</form>
	</div>
{% endblock content %}

<!-- 
<center><h1>Duplicate Files Remover v1.0</h1></center>
	<hr>
	<center><h3>Enter the Folder Path to continue</h3></center>
	<div class="input-group mb-3">
	  <input type="text" class="form-control" placeholder="Folder Path Here" aria-label="Folder Path" aria-describedby="button-addon2">
	  <div class="input-group-append">
	    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Go!</button>
	  </div>
	</div>
-->