{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend>Enter the Folder Path to Continue</legend>
			</fieldset>

		</form>
	</div>	

{% endblock content %}

<!-- 
<center><h1>Duplicate Files Remover v1.0</h1></center>
	<hr>
	<center><h3>Enter the Folder Path to continue</h3></center>
	<div class="input-group mb-3">
	  <input type="text" class="form-control" placeholder="Folder Path Here" aria-label="Folder Path" aria-describedby="button-addon2">
	  <div class="input-group-append">
	    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Go!</button>
	  </div>
	</div>
-->